body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide overflow to prevent horizontal scrollbar */
}


canvas {
    display: block;
    width: 80dvw; /* Canvas fills 100% of its container */
    height: 80dvh;
    background-color: white;
    border: 1px solid black; /* Black border */

}

#optionsContainer {
    position: relative;
    z-index: 2; /* Ensure it's on top of other elements if needed */
    margin-top: 10px; 
}